@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400&family=Nunito:wght@400;700&display=swap');


$primary-font-family: 'Nunito', sans-serif;
$primary-font-family-bold: 'Nunito', sans-serif, 700;
$pixelized-font-family: 'Handjet', sans-serif;
